* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
  text-decoration: none;
}

.nishan {
  height: 145vh;
  width: 100%;
  /* background-color: rgb(255, 14, 14); */
}




.nav {
  height: 5vh;
  width: 100%;
  background-color: #4867b0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

i {
  color: #fff;
}

.left-side {
  height: 5vh;
  width: 50%;
  /* background-color: rgb(58, 166, 157); */
  display: flex;
  justify-content: left;
  align-items: center;
}

.ul {
  height: 4vh;
  width: 80%;
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;

}

.ul li a:hover {
  /* color: rgb(249, 54, 73); */
}


.right-side {
  height: 5vh;
  width: 50%;
  /* background-color: rgb(58, 166, 74); */
  display: flex;
  justify-content: end;
  align-items: center;
}

.icon {
  height: 4vh;
  width: 30%;
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-right: -608px; */
}





nav {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
}

label.logo {
  height: 80px;
  width: 80px;
  line-height: 80px;
  padding: 0 100px;
}

label.logo img {
  height: 75px;
  width: 200px;
}





nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: rgb(0, 171, 190);
  font-size: 17px;
  padding: 7px 13px;
  text-transform: uppercase;
}

.checkbtn {
  font-size: 30px;
  color: rgb(255, 4, 4);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    height: 80px;
    width: 80px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
    color: white;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  #check:checked~ul {
    left: 0;
  }
}




.image {
  height: 30vh;
  width: 100%;
  background-color: #fff;
  background-image: url(../img/short\ image.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.image-opacity {
  height: 30vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.463);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box-page {
  height: 20vh;
  width: 30%;
  background-color: rgba(19, 1, 186, 0.53);
}

.top-contact-box-page {
  height: 10vh;
  width: 100%;
  /* background-color: #fff; */
}

.top-contact-box-page h1 {
  text-align: center;
  line-height: 10vh;
  color: rgba(255, 255, 255, 0.76);
}

.bottom-contact-box-page {
  height: 10vh;
  width: 100%;
  /* background-color: rgb(151, 42, 42); */
}

.bottom-contact-box-page h3 {
  text-align: center;
  line-height: 10vh;
  color: rgba(255, 255, 255, 0.76);
}






/* <!-- Gallary ------------------------------------------------> */

.container-3 {
  height: 100vh;
  width: 100%;
  /* background-color: rgb(169, 32, 32); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-container-3 {
  height: 90vh;
  width: 90%;
  /* background-color: rgb(18, 139, 56); */
}

.small-container-nav-3 {
  height: 10vh;
  width: auto;
  /* background-color: rgb(8, 45, 158); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-container-nav-3 h1 {
  color: rgb(239, 131, 0);
  /* line-height: 10vh; */
  font-size: 27px;
  border-bottom: orange solid 3px;
}



.small-container-box-A {
  height: 40vh;
  width: 100%;
  /* background-color: rgb(183, 100, 100); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.small-container-box-B {
  height: 40vh;
  width: 100%;
  /* background-color: rgb(150, 183, 100); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.box-a {
  height: 35vh;
  width: 20%;
  /* background-color: rgb(250, 250, 250); */
}










/* <!-- footer-2--------------------------------------------------------------- --> */

.footer {
  height: 70vh;
  width: 100%;
  background-color: #060e1f;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.small-footer {
  height: 60vh;
  width: 100%;
  /* background-color: #fff; */
}

.footer-mid {
  height: 60vh;
  width: 100%;
  /* background-color: rgb(10, 154, 34); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-footer-mid {
  height: 40vh;
  width: 70%;
  /* background-color: rgb(192, 192, 7); */
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.boxes-A {
  height: 30vh;
  width: 20%;
  /* background-color: #fff; */
}

.boxes-A h6 {
  list-style: none;
  color: #fff;
  font-size: 1rem;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  font-weight: bold;
}

.homes-1 li span {
  margin-right: 10px;
  color: #fff;
  list-style: none;
}

.homes-1 li a {
  font-size: 0.875rem;
  line-height: 24px;
  color: #cecece;
  margin: 0 0 10px 0;
  display: block;
  list-style: none;
}








.boxes-B {
  height: 30vh;
  width: 20%;
  /* background-color: #fff; */
}

.boxes-B h6 {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  font-weight: bold;
  list-style: none;
}

.homes-2 li span {
  margin-right: 10px;
  color: #fff;
}

.homes-2 li a {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
  margin: 0 0 10px 0;
  display: block;
  list-style: none;
}







.boxes-C {
  height: 30vh;
  width: 20%;
  /* background-color: #fff; */
}

.boxes-C h6 {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  font-weight: bold;
}

.column2 a {
  text-decoration: none;
  color: #cecece;
  line-height: 50px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

.column2 span {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
  margin-right: 4px;
  width: 25px;
  text-align: center;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.line {
  height: 30vh;
  width: 2px;
  /* background-color: #fff; */
  border-left: 1px solid rgb(64 73 82 / 51%);
}







.boxes-D {
  height: 30vh;
  width: 30%;
  /* background-color: #fff; */
}

.boxes-D h6 {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  font-weight: bold;
}

.boxes-D p {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
}

.boxes-D .columns-2 {
  margin-top: 1.2em;
}

.social {
  margin: 0;
  padding: 0;
}

.boxes-D ul.social li,
.boxes-D ul.jst-link li {
  display: inline-block;
  margin-right: 5px;
}

.boxes-D ul.social li a {
  color: #fff;
  width: 35px;
  height: 35px;
  /* background: rgba(255, 255, 255, 0.06); */
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}


/* <---------copyright---------> */

.footer-bottom {
  height: 10vh;
  width: 100%;
  background-color: #040a17;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom p,
.footer-bottom p a {
  font-size: 15px;
  line-height: 20px;
  color: #a0a0a0;
}

/* <--------------scroll up button------------->  */

.arrow-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}

.arrow-btn a {
  height: 39px;
  width: 37px;
  text-align: center;
  background-color: #4867b0;
  display: block;
  border-radius: 3px;
  cursor: pointer;
}

.arrow-btn a span {
  color: #ffff;
  line-height: 39px;
  font-size: 15px;
}