* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container {
    height: 15vh;
    width: 100%;
    /* background-color: #c50a0a; */
}



.nav {
    height: 5vh;
    width: 100%;
    background-color: #4867b0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

i {
    color: #fff;
}

.left-side {
    height: 5vh;
    width: 50%;
    /* background-color: rgb(58, 166, 157); */
    display: flex;
    justify-content: left;
    align-items: center;
}

.ul {
    height: 4vh;
    width: 80%;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;

}

.ul li a:hover {
    /* color: rgb(249, 54, 73); */
}


.right-side {
    height: 5vh;
    width: 50%;
    /* background-color: rgb(58, 166, 74); */
    display: flex;
    justify-content: end;
    align-items: center;
}

.icon {
    height: 4vh;
    width: 30%;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-right: -608px; */
}





nav {
    background-color: #ffffff;
    height: 80px;
    width: 100%;
}

label.logo {
    height: 80px;
    width: 80px;
    line-height: 80px;
    padding: 0 100px;
}

label.logo img {
    height: 75px;
    width: 200px;
}





nav ul {
    float: right;
    margin-right: 20px;
}
nav li:hover{
background-color:rgb(32, 43, 124);
    z-index: 0;
    border-radius: 8px;
    bottom: 0;
    height: 10vh;
  
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(0, 171, 190);
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
}

.checkbtn {
    font-size: 30px;
    color: rgb(255, 4, 4);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        height: 80px;
        width: 80px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
        color: white;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #check:checked~ul {
        left: 0;
    }
}

.admission {
    height: 85vh;
    width: 100%;
    /* background-color: #229300; */
    background-image: url(../img/nishanimage.jpg);
    background-size: cover;

}

.admission-opacity {
    height: 85vh;
    width: 100%;
    background-color: #00000031;
    display: flex;
    align-items: center;
}

.small-admission {
    height: 70vh;
    width: 50%;
    /* background-color: #60c843; */
    display: flex;
    justify-content: center;
}

.small-admission-center {
    height: 70vh;
    width: 70%;
    /* background-color: #fff; */
}

.small-admission-center h1 {
    font-size: 74px;
    line-height: 84px;
    font-weight: 700;
    margin-top: 25px;
    color: white;
}

.small-admission-center h1 span {
    font-size: 74px;
    line-height: 84px;
    font-weight: 100;
    color: white;
}

.small-admission-center p {
    font-size: 20px;
    line-height: 30px;
    margin-top: 13px;
    color: white;
}

.small-admission-center button {
    padding: 12px 36px 14px;
    font-size: 16px;
    color: #fff;
    border-radius: var(--border-radius-full);
    font-weight: bold;
    outline: none;
    border: none;
    background: #fbb034;
    transition: all 1.8s ease-in-out;
    margin-top: 3rem !important;
    border-radius: 50px;
}

.small-admission-center button:hover {
    background-color: #0d6efd;
}

.slider{
    width: 900px;
    height: 550px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    left: 30px;
    top: 20px;
    z-index: 1;
    margin-bottom: 30px;
    box-shadow: 1px 1px 3px 1px #002147;
}

.logo_3d{
    width: 275px;
    position: relative;
    left: 1002px;
    top: -517px;
    /* border: #40d3dc 5px solid; */
}


    


.slides{
    width:500%;
    height: 500px;
    display: flex;

}

.slides input{
    display: none;
}

.slide{
    width:20%;
    transition: 2s;

}

/* css for manual slide */
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: 470px;
    display: flex;
    justify-content: center;
}


.manual-btn{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;

}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40d3dc;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/* css for automatic slide */

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 470px;


}

.navigation-auto div{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40d3dc;
}

.when_navbar_hidden{
    transform: translateY(-21px);
}

.helllo{
    height: 100vh;
    width: 100%;
}

/* <!-- second-container----------------------------------------------------------------------- --> */

.second-container {
    height: 80vh;
    width: 100%;
    background-color: #08171e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-small-container {
    height: 70vh;
    width: 80%;
    /* background-color: #fff; */
}

.second-top {
    height: 20vh;
    width: 100%;
    /* background-color: #06b924; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second-top p {
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}

.second-top h1 {
    line-height: 55px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.second-bottom {
    height: 50vh;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.box-2-A {
    height: 40vh;
    width: 20%;
    background-color: #08171e;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #fdfffc solid 2px;

}

.center-2-A {
    height: 40vh;
    width: 80%;
    /* background-color: #0090c08a; */
}

.circle-2-A {
    height: 15vh;
    width: 100%;
    /* background-color: #5bb821; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.circle-two {
    height: 100px;
    width: 100px;
    background-color: rgba(1, 91, 247, 0.374);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-two i {
    font-size: 25px;
    color: rgb(255, 252, 252);
}

.headings-2-A {
    height: 25vh;
    width: 100%;
    /* background-color: #a925b5; */
}

.headings-2-A h1 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 23px;
    line-height: 33px;
    color: #fdfffc;
    display: block;
    text-align: center;
}

.headings-2-A p {
    font-size: 16px;
    line-height: 28px;
    color: #fdfffc;
    text-align: center;
}




/* <!-- courses--------------------------------------- --> */

.courses{
    height: 90vh;
    width: 100%;
    background-color: #08171e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-courses{
    height: 70vh;
    width: 90%;
}
.top-navofcourse{
    height: 10vh;
    width: 100%;
    /* background-color: #ff0000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-navofcourse h1{
    font-size: 40px;
    color: #ffffff;
    border-bottom: #ffffff solid 2px;
}
.wrapper{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.card{
    width: 250px;
    height: 360px;
    padding: 2rem 1rem;
    position: relative;
    left:140px;
    top: 67px;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}


.card:hover{
    transform: translateY(20px);
}

.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    transform: 0.5s all;
    opacity: 0;
}

.card:hover:before{
    opacity: 1;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1{
    margin: 0;
}

.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition:0.4s ease-in-out;
}

.card .info .btn:hover{
    box-shadow:0px 7px 10px rgba(0,0,0,0.5);
}






 /* reviews....................------------------------------------------------------------- */





 .about {
    height: 100vh;
    width: 100%;
    background-color: #01181d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-about {
    height: 80vh;
    width: 80%;
    /* background-color: rgb(13, 23, 138); */
}

.reviews {
    height: 5vh;
    width: 100%;
    /* background-color: rgb(169, 197, 13); */
}

.reviews h1 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 5vh;
    text-align: center;
    color: #b7b7b7;

    letter-spacing: 1px;
}

.clients {
    height: 10vh;
    width: 100%;
    /* background-color: rgb(174, 0, 157); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients h1 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fdfffc;
}

.boxes {
    height: 65vh;
    width: 100%;
    /* background-color: rgb(4, 189, 192); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.box {
    height: 50vh;
    width: 30%;
    background-color: #0f0f0f9e;
}

.box-a {
    height: 30vh;
    width: 100%;
    /* background-color: rgb(216, 0, 220); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph-box-a {
    height: 20vh;
    width: 80%;
    /* background-color: #fff; */

}

.paragraph-box-a p {
    font-size: 18px;
    line-height: 28px;
    color: #b7b7b7;
}

.box-b {
    height: 20vh;
    width: 100%;
    /* background-color: rgb(73, 220, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.a {
    height: 20vh;
    width: 30%;
    /* background-color: rgb(183, 15, 15); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 100px;
    width: 100px;
    /* background-color: lime;  */
    border-radius: 100px;
}

.circle img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.b {
    height: 20vh;
    width: 70%;
    /* background-color: rgb(172, 183, 15); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top {
    height: 6vh;
    width: 100%;
    /* background-color: rgb(64, 203, 169); */
    display: flex;
    align-items: center;
}

.top h1 {
    font-weight: 600;
    font-size: 20px;
    color: #fdfffc;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.bottom {
    height: 5vh;
    width: 100%;
    /* background-color: rgb(64, 152, 203); */
}

.bottom h1 {
    font-size: 18px;
    font-style: normal;
    color: #b7b7b7;
}

/* mobile responsive----> */

@media (max-width:900px){
   .about{
       height: auto;
       width: auto;
   }
   .clients h1{
       font-size: 21px;
   }

   .small-about{
       height: auto;
       width: auto;
       display: flex;
       flex-direction: column;
   }

   .boxes{
       height: auto;
       width: 100%;
       display: flex;
       flex-direction: column;
   }

   .box-a{
       height: auto;
   }
   .box-b{
       height: auto;
   }
   .box{
       height: auto;
       width: 90%;
       margin-top: 5px;
   }

 
}



/* <!-- footer-2--------------------------------------------------------------- --> */

.footer {
    height: 70vh;
    width: 100%;
    background-color: #060e1f;
    display: flex;
    justify-content: end;
    align-items: flex-end;
  }
  
  .small-footer {
    height: 60vh;
    width: 100%;
    /* background-color: #fff; */
  }
  
  .footer-mid {
    height: 60vh;
    width: 100%;
    /* background-color: rgb(10, 154, 34); */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .small-footer-mid {
    height: 40vh;
    width: 70%;
    /* background-color: rgb(192, 192, 7); */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  
  .boxes-A {
    height: 30vh;
    width: 20%;
    /* background-color: #fff; */
  }
  
  .boxes-A h6 {
    list-style: none;
    color: #fff;
    font-size: 1rem;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
  }
  
  .homes-1 li span {
    margin-right: 10px;
    color: #fff;
    list-style: none;
  }
  
  .homes-1 li a {
    font-size: 0.875rem;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    display: block;
    list-style: none;
  }
  
  
  
  
  
  
  
  
  .boxes-B {
    height: 30vh;
    width: 20%;
    /* background-color: #fff; */
  }
  
  .boxes-B h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
    list-style: none;
  }
  
  .homes-2 li span {
    margin-right: 10px;
    color: #fff;
  }
  
  .homes-2 li a {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    display: block;
    list-style: none;
  }
  
  
  
  
  
  
  
  .boxes-C {
    height: 30vh;
    width: 20%;
    /* background-color: #fff; */
  }
  
  .boxes-C h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
  }
  
  .column2 a {
    text-decoration: none;
    color: #cecece;
    line-height: 50px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
  }
  
  .column2 span {
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 4px;
    width: 25px;
    text-align: center;
  }
  
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  
  .line {
    height: 30vh;
    width: 2px;
    /* background-color: #fff; */
    border-left: 1px solid rgb(64 73 82 / 51%);
  }
  
  
  
  
  
  
  
  .boxes-D {
    height: 30vh;
    width: 30%;
    /* background-color: #fff; */
  }
  
  .boxes-D h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
  }
  
  .boxes-D p {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
  }
  
  .boxes-D .columns-2 {
    margin-top: 1.2em;
  }
  
  .social {
    margin: 0;
    padding: 0;
  }
  
  .boxes-D ul.social li,
  .boxes-D ul.jst-link li {
    display: inline-block;
    margin-right: 5px;
  }
  
  .boxes-D ul.social li a {
    color: #fff;
    width: 35px;
    height: 35px;
    /* background: rgba(255, 255, 255, 0.06); */
    display: inline-block;
    border-radius: 50%;
    text-align: center;
  }
  
  
  /* <---------copyright---------> */
  
  .footer-bottom {
    height: 10vh;
    width: 100%;
    background-color: #040a17;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-bottom p,
  .footer-bottom p a {
    font-size: 15px;
    line-height: 20px;
    color: #a0a0a0;
  }
  
  /* <--------------scroll up button------------->  */
  
  .arrow-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
  }
  
  .arrow-btn a {
    height: 39px;
    width: 37px;
    text-align: center;
    background-color: #4867b0;
    display: block;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .arrow-btn a span {
    color: #ffff;
    line-height: 39px;
    font-size: 15px;
  }